name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          # specific version or use the latest stable version
          # flutter-version: '3.19.0'

      - name: Install dependencies
        run: flutter pub get

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Analyze
        run: flutter analyze || true

      - name: Run tests
        run: flutter test

      - name: Build APK
        if: github.ref == 'refs/heads/main'
        run: flutter build apk --debug
